button {
    font-size: 16px;
    color: black;
    border-radius: 4px !important;
    border-width: 1px;
    padding: 0.5em;
}

button:hover {
    cursor:pointer;
    color: white !important;
    border-radius: 4px;
    border: 1px solid white !important;
}