img {
    width: 35px;
    margin-right: 1em;
}

#cart {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}


.cartContainer {
    background-color: rgb(206, 66, 46);
    border-radius: 5px;
    border: 1px solid black;
    padding: 0.5em;
}

.cartContainer:hover {
    border: 2px solid white !important;
    border-radius: 4px;
    
}