#basic-nav-dropdown {
    font-size: 14px;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgb(206, 66, 46);
}

#basic-nav-dropdown:hover {
    color: white;
    border-radius: 4px;
    border: 1px solid white;
}

.me-auto{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Nav {
    background-color: black;
    border-bottom: 1px solid black;
}

#brand {
    width: 8.5em;
    position: relative;
    right: 5em;
}

#brand:hover {
    transform: scale(1.05);
}

#brandLink {
    text-decoration: none;
}

.categoriesDropdown {
    color:rgb(206, 66, 46) !important;
}
